{% extends "base.html" %}
{% block js %}
{% endblock %}
{% block menu %}
<li><a href="home">首页</a></li>
<li><a href="status_fans">统计分析</a></li>
<li class="active"><a href="management_fans">微博管理</a></li>
{% endblock %}
{% block mainbar %}
<div class="fans_right leftB">
<div class="guangb10">
<a href="javascript:void(0);" onclick="return false;" id="groupSentBtn" title="群发信息" class="o_next leftB">群发信息</a>
<span class="leftB" style='line-height:27px; display:none;' >已选中<span class="Tr" id="selectNum">0</span>条</span>
<div class="listw rightB" style="z-index:110;border-left:0px;" id="locationBtnDiv">
<span class="listw_text" attrval="" id="locationtitle">选择地域</span>
<div class="listwm2 none" id="locationChList">
<div class="listwm2_g">
<ul>
<li><a href="javascript:void(0);" onclick="return false;" attrval="" class="locationBtncls"><span>不限</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p1" class="locationBtncls"><span>北京</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p2" class="locationBtncls"><span>上海</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p3" class="locationBtncls"><span>天津</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p4" class="locationBtncls"><span>重庆</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p5" class="locationBtncls"><span>黑龙江</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p6" class="locationBtncls"><span>吉林</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p7" class="locationBtncls"><span>辽宁</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p8" class="locationBtncls"><span>山东</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p9" class="locationBtncls"><span>山西</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p10" class="locationBtncls"><span>陕西</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p11" class="locationBtncls"><span>河北</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p12" class="locationBtncls"><span>河南</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p13" class="locationBtncls"><span>湖北</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p14" class="locationBtncls"><span>湖南</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p15" class="locationBtncls"><span>海南</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p16" class="locationBtncls"><span>江苏</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p17" class="locationBtncls"><span>江西</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p18" class="locationBtncls"><span>广东</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p19" class="locationBtncls"><span>广西</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p20" class="locationBtncls"><span>云南</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p21" class="locationBtncls"><span>贵州</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p22" class="locationBtncls"><span>四川</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p23" class="locationBtncls"><span>内蒙古</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p24" class="locationBtncls"><span>宁夏</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p25" class="locationBtncls"><span>甘肃</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p26" class="locationBtncls"><span>青海</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p27" class="locationBtncls"><span>西藏</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p28" class="locationBtncls"><span>新疆</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p29" class="locationBtncls"><span>安徽</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p30" class="locationBtncls"><span>浙江</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p31" class="locationBtncls"><span>福建</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p32" class="locationBtncls"><span>台湾</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p33" class="locationBtncls"><span>香港</span></a></li>

<li><a href="javascript:void(0);" onclick="return false;" attrval="p34" class="locationBtncls"><span>澳门</span></a></li>

</ul>
</div>
</div>
</div>
<div class="listw rightB" style="z-index:110;" id="sexBtnDiv">
<span class="listw_text" attrval="" id="sextitle">选择性别</span>
<div class="listwm1 none" id="sexChList">
<ul>
<li><a href="javascript:void(0);" onclick="return false;" attrval="0" class="sexBtncls"><span>不限</span></a></li>
<li><a href="javascript:void(0);" onclick="return false;" attrval="1" class="sexBtncls"><span>男</span></a></li>
<li><a href="javascript:void(0);" onclick="return false;" attrval="2" class="sexBtncls"><span>女</span></a></li>
</ul>
</div>
</div>
<div class="listhdd  " style="z-index:110;">
<input name="" type="checkbox" value="" id="kudonginput" /> 互动用户
</div> 
<div class="clear"></div>                                   
</div>
<div class="guangb20">
<div class="wrap_dott">
<div class="list_b1" style="margin:0px;">

<table width="100%" border="0" cellpadding="0" cellspacing="1">
<tr>

<td align="center" bgcolor="#F2F2F2" class="ltitle">客户头像</td>
<td align="center" bgcolor="#F2F2F2" class="ltitle">客户名</td>
<!-- <td align="center" bgcolor="#F2F2F2" class="ltitle">认证</td> -->
<td align="center" bgcolor="#F2F2F2" class="ltitle">性别</td>
<td align="center" bgcolor="#F2F2F2" class="ltitle">地域</td>
<td align="center" bgcolor="#F2F2F2" class="ltitle">TA的粉丝数</td>    

<!-- <td align="center" bgcolor="#F2F2F2" class="ltitle">操作</td>  -->
</tr>

<tr class="cropTrCls " >
<td align="center" class="logoRendTd"><div class="hudong_g1" style="z-index:100">
<div class="W_layer" style="left: 70px;top: 0px; display:none;">
<div class="bg">
<div class="layer_g">
<div class="layer_intro">
<div class="listPic"><a href="javascript:void(0);" class="linker-weibo-hre" uid="1274815437"><img  src="http://tp2.sinaimg.cn/1274815437/50/5609996613/0" width="50" height="50" /></a></div>
<div class="leftB" style="width:260px;">
<p><a href="javascript:void(0);" class="linker-weibo-hre" uid="1274815437">慧滋滋</a></p>
<p><span>河南&nbsp;&nbsp;郑州</span></p>


</div>
<div class="clear"></div>   
</div>

</div>
</div>
</div>
<a href="javascript:void(0);" class="linker-weibo-hre" uid="1274815437"><img src="http://tp2.sinaimg.cn/1274815437/50/5609996613/0" width="35" height="35" /></a></div></td>
<td align="center" nickname="true"><a href="javascript:void(0);" class="linker-weibo-hre" uid="1274815437">慧滋滋&nbsp;</a></td>
<!-- <td align="center"><span class=""></span></td> -->
<td align="center">女</td>
<td align="center">河南&nbsp;&nbsp;郑州&nbsp;</td>
<td align="center"><span class="Tb">93</span></td>

<!-- <td align="center"><a href="javascript:void(0);" class="icon_shixing" title="发信息"></a></td> -->
</tr>
</table>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="s_list_n rightB">
<a href="javascript:void(0);" onclick="linePage(1,409);return false;" class="l_front" >上一页</a>
<a href="javascript:void(0);" onclick="linePage(3,409);return false;" class="l_next" >下一页</a>
</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>


{% endblock %}
{%block sidebar %}
{% endblock %}
